        .panelLogin{
            margin-top:10%;
        }
        .bodyFixed { padding-top: 70px; padding-bottom:70px;}
        .fontusuario {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 1.5rem;
        }
        .cursorPointer{
            cursor:pointer;
        }
        /*.sweet-alert.sweetalert-xs { width: 320px; }*/
        .sweet-alert.sweetalert-xs { width: 60%; }

.page-header {
    padding-bottom: 9px;
    margin: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #eee;
    background-color:#d9edf7;
    color: #31708f;
}

        hr.style1{
	border-top: 1px solid #8c8b8b;
}


hr.style2 {
	border-top: 3px double #8c8b8b;
}

hr.style3 {
	border-top: 1px dashed #8c8b8b;
}

hr.style4 {
	border-top: 1px dotted #8c8b8b;
}

hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}


hr.style6 {
	background-color: #fff;
	border-top: 2px dotted #8c8b8b;
}

hr.style7 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}


hr.style8 {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

hr.style9 {
	border-top: 1px dashed #8c8b8b;
	border-bottom: 1px dashed #fff;
}

hr.style10 {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
}


hr.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}


hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}


hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


hr.style15 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}
hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
}

hr.style16 { 
  border-top: 1px dashed #8c8b8b; 
} 
hr.style16:after { 
  content: '\002702'; 
  display: inline-block; 
  position: relative; 
  top: -12px; 
  left: 40px; 
  padding: 0 3px; 
  background: #f0f0f0; 
  color: #8c8b8b; 
  font-size: 18px; 
}
.custom-control {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    margin-right: 1rem;
}
        .big-checkbox {width: 25px; height: 25px;}
        .font-80{
            font-size: 80%;
        }
/*
hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

*/
.panel-secondary {
    border-color: cadetblue;
}
        .panel-secondary>.panel-heading {
            color: #fff;
            background-color: cadetblue;
            border-color: cadetblue;
        }

hr.style17{
    border: 0; height: 0; box-shadow: 0 1px 5px 1px cadetblue;
}
.panel-footer {
     padding: 10px 15px;
     background-color: #f5f5f5;
     /* border-top: 1px solid #ddd; */
     border-bottom-right-radius: 3px;
     border-bottom-left-radius: 3px;
 }
hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
.slideSuperior{
    margin-top: 90px;
}
div.dataTables_filter input {
    width: 12em;
    margin-left: 0.5em;
}
#tablaArchivos_filter label{ visibility: hidden}
#loading {
    position:absolute;
    width:100%;
    height:100%;
    background:#fff url(../images/loading.gif) no-repeat center;
}
.scheduler-base-hd {
    position: relative;
    padding: 5px 0;
    background: darkturquoise;
}
.scheduler-view-agenda-container {
    color: #6a6a6a;
    font-size: 1.1em;
        background: antiquewhite;
}

.bg-default-enc {
    background-image: -webkit-linear-gradient(top, #1d79b2 0%, #28bfae 100%);
    background-image: -o-linear-gradient(top, #1d79b2 0%, #28bfae 100%);
    background-image: linear-gradient(to bottom, #1d79b2 0%, #28bfae 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1D79B2', endColorstr='#FF28BFAE', GradientType=0);
    background-color: #28bfae;
}
.fg-white{
    color: white;
}


@media only screen and (min-width: 40.0625em) {
    .sweet-alert.sweetalert-xs { width: 500px; }
    }
    /*.bodyFixed { padding-top: 100px; }*/